<!DOCTYPE html>

<head>
	<style>
		body{
		background: url("http://4.bp.blogspot.com/-gRknreE1e8Y/VHTs2YW_vUI/AAAAAAAAAOA/6q8mq700Mv4/s1600/duet-blog-lead.jpg");
		background-size: cover;
		}
		#content{
			text-align: center;
			margin-right: 900px;
		}
		h1{
			color: rgba(215, 72, 243, 1);
		}
		h2{
			color: rgba(46, 193, 243, 1);
		}
		a{
			color: white;
		}
		#ian{
			text-align: center;
			position: absolute;
			bottom: 30px;
			right: 50px;
		}
		img{
			border: 15px solid rgba(215, 72, 243, 1);
			border-radius: 20px;
		}
		p{
			color: rgba(215, 72, 243, 1);
			font-family: 'Noteworthy';
			font-style: italic;
		}
	</style>
</head>


<body>
	<div id="content">
		<h1><%= @displayed_song_name %></h1>
		<h2>From: <%= @song_movie %></h2>
		<p><a href="<%=@song_lyrics%>">Lyrics</a></p>

		<% random_number = rand(5) %>
		<% if random_number == 0 %>
			<p><a href="https://www.youtube.com/watch?v=BROWqjuTM0g">Youtube video</a></p>
		<% else %>
			<p><a href="https://www.youtube.com/watch?v=<%= @song_link %>">Youtube video</a></p>
		<% end %>

		<p><a href="/">Home</a></p>
		<p><a href="/songs">Song Index</a></p>
	</div>

	<div id="ian">
		<img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn2/t31.0-8/1262550_10151670799497075_646944227_o.jpg" width=200>
		<% random_quote_number = rand(8) %>
		<% if random_quote_number == 0 %>
			<p>"All you need is a little faith, trust, and pixie dust."</p>
		<% elsif random_quote_number == 1 %>
			<p>"Some people are worth melting for."</p>
		<% elsif random_quote_number == 2 %>
			<p>"Just keep swimming!"</p>
		<% elsif random_quote_number == 3 %>
			<p>"Just think of happy thoughts and you'll fly."</p>
		<% elsif random_quote_number == 4 %>
			<p>"I touched the butt!"</p>
		<% elsif random_quote_number == 5 %>
			<p>"If you keep on believing, the dream that you wish will come true."</p>
		<% elsif random_quote_number == 6 %>
			<p>"You're never too old to be young."</p>
		<% elsif random_quote_number == 7 %>
			<p>"Believe you can, then you will."</p>
		<% end %>
	</div>
</body>