<h1><%= @displayed_song_name %></h1>

<h2>From: <%= @song_movie %></h2>
<p><a href="<%=@song_lyrics%>">Lyrics</a></p>

<% random_number = rand() %>
<% if random_number == 0 %>
	<p><a href="https://www.youtube.com/watch?v=BROWqjuTM0g">Youtube video</a></p>
<% else %>
	<p><a href="https://www.youtube.com/watch?v=<%= @song_link %>">Youtube video</a></p>
<% end %>

<p><a href="/">Home</a></p>
<p><a href="/index">Song Index</a></p>